@media (max-width:670px){
  .main-wrapper{
  height:90vh;
  }

  .photo2{
    height:90vh;
  }

  .photo3{
    height:90vh;
  }

  .photo4{
    height:90vh;
  }

  .photo5{
    height:90vh;
  }

  .photo6{
    height:90vh;
  }

  .main-wrapper h1{
    position:absolute;
    top:8%;
    font-size:30px;
    letter-spacing:1px;


  }

  ul{
    position: absolute;
    top:42%;
    font-size:30px;
  }

  li{
    padding-top:10px;
    padding-bottom:10px;
  }

  .btn{
    line-height: 55px;
    height:60px;
    width:200px;
  }

  .main-wrapper h1{
    font-size:40px;
    letter-spacing:1px;
  }

}

